<style>
  body {
    margin: 0;
    padding: 0;
  }

  #new-family-member {
    text-align: center;
  }

  #new-family-member img {
    display: inline;
  }

  #profile-link {
    text-align: center;
    padding-left: 450px;
    font-size: 16px;
    padding-top: 40px;
  }
</style>

<div id="new-family-member">
  <%= image_tag 'new_family_member.png' %>
</div>

<div id="profile-link">
  <%= link_to "View my profile", "/profile" %>
</div>