/* 

Fonts: Vollkorn && PT sans

font-family: 'Vollkorn', serif;
font-family: 'PT Sans', sans-serif;

*/

html p{
	font-family: 'PT Sans', sans-serif;
}

.pt-sans{
	font-family: 'PT Sans', sans-serif;
}

.vollkorn{
	font-family: 'Vollkorn', serif;
}

$text-blue : #4f9fcf !important;

.text-blue{
	color: $text-blue;
}
.no-margin{
	margin: 0px;
}

.center{
	margin: 0 auto;
	display: block;
	float: none;
}
.cap{
	text-transform: capitalize;
}

.no-display{
	display: none;
}

.pointer{
	cursor: pointer;;
}

.already-have-account{
	margin: 30px 0px 60px;
	color: #989ea0;

	a{
		font-weight: 700;
		color: #0e9ecd;
		font-size: 13px;
		letter-spacing: 0.075em;
		text-transform: uppercase;
		margin-left: 10px;

		&:hover {
			text-decoration: underline;
		}
  }
}


.sign-up .ruler{
	height: 1px;
	width: 100%;
}

.swMain{
	width: 100%;
	margin-top: 30px;
}

.swMain .anchor{
	display: none !important;
}

.swMain .stepContainer .content, .swMain .actionBar{
	background: none !important;
	border: none !important;
}

#sign-up-carousel .item{
	padding-top: 50px;
	min-height: 450px;
}

#sign-up-carousel p{

}

#sign-up-carousel a.left{
	margin-left: 20px;
}

