// Place all the styles related to the Matching controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#match-congratulations {
  color: #ffffff;
}

#match-congratulations, #match-text {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#match-text {

}