body, label, div {
  font-family: "PT Sans";
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

#user_country {
  width: 100%;
}

.user_gender .radio {
  padding-right: 25px;
}

.step {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #b0adad;
}

.next-button, .back-button, input.btn{
  font-family: "PT Sans";
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 0.1em;
  border-radius: 7px;
  border-width: 0;
  width: 80%;
}

.back-button {
  float: left;
}

.next-button, input.btn {
  background-color: #4cdea9;
  float: right;
}

.next-button:hover, input.btn:hover {
  background-color: #2aab7c;
  color: #ffffff;
}

.back-button {
  background-color: #e9e9e9;
}

.back-button:hover {
  background-color: #d3d1d1;
  color: #ffffff;
}

.control-label, select {
  font-weight: 400;
  color: #989ea0;
  font-size: 15px;
}

.form-control, select {
  border-width: 1px;
  border-color: #cfcfcf;
  width: 100%;
}

.form-control:hover {
  border-color: #9b9999;
}


form input[type=text]:focus, form input[type=password]:focus, form input[type=email]:focus, form input[type=number]:focus, form input[type=url]:focus, form input[type=tel]:focus, form textarea:focus {
  border-color: #4b4b4b;
  box-shadow: none;
}
.form-control:active {
  border-color: #4b4b4b;
  box-shadow: none;
}
.form-control:focus {
  box-shadow: none;
  -webkit-box-shadow: none;
}

input[type="radio"].radio_buttons.required {
  margin-left: 10px;
  margin-right: 10px;
}

select {
  -webkit-appearance: none;
  height: 34px;
}

.contribution-select {
  width: 100%;
  text-align: center;
}

.radio-inline input[type="radio"] {
  float: none;
  margin: 5px 0 0;
}


.contribution-select .description {
  margin-top: 10px;
  cursor: pointer;
}

.cost-description {
  color: #898888;
  font-size: 16px;
  font-weight: 700;
  text-align: right;
  margin-top: 30px;
}

.sign-up.caption.text-center {
  font-family: "Vollkorn";
  font-weight: 400;
  font-size: 26px;
}

abbr[title="required"] {
  display: none;
}

.max-field-width {
  max-width: 255px;
}

#new_user {
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
}


.password.required.form-control, .string.optional.form-control, .string.required.form-control {
  width: 100%;
}

#title-text {
  margin-bottom: 50px;
}

.user_gender.form-group, .user_dob.form-group {
  margin-left: 0;
  margin-right: 0;
}

