body, label, div {
  font-family: "PT Sans";
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

#user_country {
  width: 100%;
}

.user_gender .radio {
  padding-right: 25px;
}

.step {
  text-align: right;
}

.next-button, .back-button, input.btn{
  font-family: "PT Sans";
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 0.1em;
  border-radius: 7px;
  border-width: 0;
  width: 80%;
  float: right;
}

.next-button, input.btn {
  background-color: #4cdea9;
}

.next-button:hover, input.btn:hover {
  background-color: #2aab7c;
  color: #ffffff;
}

.back-button {
  background-color: #e9e9e9;
}

.back-button:hover {
  background-color: #d3d1d1;
  color: #ffffff;
}

.control-label, select {
  font-weight: 400;
  color: #989ea0;
  font-size: 15px;
}

.form-control, select {
  border-width: 1px;
  border-color: #cfcfcf;  
}

.form-control:hover {
  border-color: #9b9999;
}

input[type="radio"].radio_buttons.required {
  margin-left: 10px;
  margin-right: 10px;
}

select {
  -webkit-appearance: none;
  height: 34px;
}

.contribution-select {
  width: 100%;
}

.contribution-select .description {

}

.cost-description {
  color: #898888;
  font-size: 16px;
  font-weight: 700;
}

.sign-up {
  font-family: "Vollkorn";
  font-weight: 400;
  font-size: 26px;
}

.caption.small {
  font-family: "PT Sans";
  font-weight: 400;
}