<nav class="navbar navbar-default header-wrapper" role="navigation">
  <div class="header">
    <div class="row">
      <div class="col-md-5">
        <a class="logo" href="/"><%= image_tag 'logo.png' %></a>
      </div>
      <div class="col-md-5">
      <ul class="navbar-header">
        <li>
          <a href="http://luckypenny.strikingly.com/#what-we-do">What we do</a>
        </li>
        <li>
          <a href="http://luckypenny.strikingly.com/#the-issue">The issue</a>
        </li>
        <li>
          <a href="http://luckypenny.strikingly.com/#lucky-pennies-1">Lucky pennies</a>
        </li>
        <li class="last">
          <a href="http://luckypennyfund.com/">Blog</a>
        </li>
      </ul>
      </div>
      <div class="col-md-2">
        <% if !user_signed_in? %>           
          <a href="/users/sign_up" class="adopt-now btn-danger btn btn-sm">Adopt now</a>
        <% end %>
        <% if user_signed_in? %>
          <a data-method="delete" href="/users/sign_out" rel="nofollow" class="adopt-now btn-danger btn btn-sm">Logout</a>
        <% end %>
      </div>
    </div>   
  </div>
</nav>